*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  padding: 1em;
}

body {
  background-color: #fff;
  color: #333;
  font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0;
}

p * {
  display: block;
}

input[type='email'] {
  /* appearance: none; */

  width: 100%;
  border: 1px solid #333;
  border-radius: 3px;
  font-family: inherit;
  font-size: 90%;
}

/* This is our style for the invalid fields */
#email:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}

/* This is the style of our error messages */
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  width: 50%;
  padding: 1em;
  margin: 1em;

  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: #900;
  border-radius: 5px;

  display: none;
}

.error.active {
  display: inline-block;
  padding: 0.3em;
}
